<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Language="1033"
      Manufacturer="OpenWidgetKit"
      Name="OpenWidgetKit Swift Runtime Administrative Image"
      Scope="perMachine"
      UpgradeCode="B3C3DE3C-9FF0-4C13-A955-629775840FE9"
      Version="1.0.0">
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="OpenWidgetSwiftRuntime">
        <Merge
            Id="swift_runtime"
            Language="0"
            SourceFile="$(SwiftRuntimeMergeModule)" />
      </Directory>
    </StandardDirectory>

    <Feature Id="SwiftRuntime" AllowAbsent="no" Title="Swift Runtime">
      <MergeRef Id="swift_runtime" />
    </Feature>
  </Package>
</Wix>
